body{
    animation: fade-in 2s;
    font-family: 'Montserrat', sans-serif;
    background: beige;
}


.btn-lg {
    /* padding: 10px 16px;
    font-size: 18px; */
    line-height: 1.4;
    border-radius: 50px;
    width: 150px;
  }

.form-control{
    border-radius: 50px;;
}

.card{
    border-radius: 20px;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}
